@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    background-color: #0B2545;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.card{
    border-radius: 12px;
}
#card{
    border-radius: 12px;
}
#cyclecard{
    background-image: 'https://iucc123.github.io/images/CycleNet.png';
    width: 50%;
}